/* General styling */
body {
  background-color: #D6D6D6; /* Solid background color */
  font-family: 'IBM Plex Mono', monospace; /* Default text font */
}

.arrow-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 10px;
}

#arrow-icon {
  transition: all 0.3s ease;
  box-shadow: none;
  outline: none;
  transform: rotate(180deg);
  z-index: 2;
}

#arrow-icon:hover {
  outline: none;
  transform: scale(1.2) rotate(180deg);;
}


h1 {
  font-family: 'Alumni Sans', sans-serif; 
  text-align: left; 
  font-weight: 900; 
}

h2 {

  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500; /* Medium weight */
  text-align: left; 
  margin-top: 40px; /* 40px between each type box */
}


p {

  font-family: 'IBM Plex Mono', monospace;
  font-weight: 200; /* Light weight */
  font-style: italic; 
  text-align: left; 
  margin-top: 40px; 
}

.caption-text {
  font-size: 0.7rem; /* You can adjust this as you see fit */
  font-style: italic; /* If you prefer italicized captions */
  text-align: left;
  margin-top: 4px; /* Adding some top margin for spacing */
  font-family: 'IBM Plex Mono', monospace; /* Or whatever font you'd like */
}


.media-box {
  background-color: #E17918; /* Orange background color */
  border: 1px solid black; /* Black border */
  width: 100%; /* Take full width */
  height: auto; /* Auto height to maintain aspect ratio */
  margin-top: 40px; /* 40px between each type box */
}

.footer {
 padding: 15px; 
 font-size: 4rem;  
 text-align: left;
 border-top: 2px solid black;
 background-color: #E17918;
 font-family: 'Alumni Sans', sans-serif; 
 font-weight: 900;
}

/* Media Grid Container */
.media-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}


.media-item.placeholder {
  background-color: #E17918; /* Orange */
  border: 1px solid black; /* Black Stroke */
  padding-bottom: 100%; /* 1:1 Aspect Ratio */
  position: relative; /* If you want text inside of it */
}


@media only screen and (max-width: 768px) {
  .footer {
    height: 7vh; 
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

