/* General styling */
body {
  background-color: #D6D6D6; /* Solid background color */
  font-family: 'IBM Plex Mono', monospace; /* Default text font */
  margin-bottom: 200px;  
}

.arrow-container {
  position: fixed;  
  top: 10px;
  right: 10px;
  z-index: 1000;
  margin-bottom: 10px;
}

#arrow-icon {
  transition: all 0.3s ease;
  box-shadow: none;
  outline: none;
  transform: rotate(180deg);
  z-index: 2;
}

#arrow-icon:hover {
  outline: none;
  transform: scale(1.2) rotate(180deg);;
}


h1 {
  font-family: 'Alumni Sans', sans-serif; 
  text-align: left; 
  font-weight: 900; 
}

h2 {

  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500; /* Medium weight */
  text-align: left; 
  margin-top: 40px; /* 40px between each type box */
}


p {

  font-family: 'IBM Plex Mono', monospace;
  font-weight: 200; /* Light weight */
  font-style: italic; 
  text-align: left; 
  margin-top: 40px; 
}

.caption-text {
  font-size: 0.7rem; /* You can adjust this as you see fit */
  font-style: italic; /* If you prefer italicized captions */
  text-align: left;
  margin-top: 4px; /* Adding some top margin for spacing */
  font-family: 'IBM Plex Mono', monospace; /* Or whatever font you'd like */
}

.footer {
 padding: 15px; 
 font-size: 4rem;  
 text-align: left;
 border-top: 2px solid black;
 background-color: #E17918;
 font-family: 'Alumni Sans', sans-serif; 
 font-weight: 900;
}

.media-box {
  background-color: #E17918;
  border: 2px solid black;
  border-radius: 12px;
  transition: all 0.3s ease;
  width: 350px;
  height: 350px;
}

.media-grid {
  padding-top: 3vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* Updated minmax to 350px to match media-box */
  gap: 16px;
  grid-auto-rows: minmax(350px, auto); /* Updated minmax to 350px to match media-box */
}

/* For desktop and larger tablets */
@media (min-width: 768px) {
  .media-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.media-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  border: 3px solid #000;
}

.modal-content {
  position: relative;
  margin: auto;
  width: 100%;  /* Updated to full width */
  height: 100%;  /* Updated to full height */
  background: #fff;
}

.close-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  cursor: pointer;
}

/* Removed expand-animation as it's not needed anymore */

.hidden {
  display: none;
}

/* For mobile and smaller tablets */
@media only screen and (max-width: 767px) {
  .media-grid {
    grid-template-columns: 1fr;
  }
  .footer {
    height: 7vh;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}



