/* General styling */
body {
  background-color: #D6D6D6; /* Solid background color */
  font-family: 'IBM Plex Mono', monospace; /* Default text font */
}

/* Back arrow styling here */

/* Header styling */
h1 {
  font-family: 'Alumni Sans', sans-serif;
  font-size: 2.5em; /* Making it the biggest */
  text-align: center; /* Horizontally centered */
}

h2 {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500; /* Medium weight */
  text-align: center; /* Horizontally centered */
  margin-top: 40px; /* 40px between each type box */
}

/* Paragraph styling for project details */
p {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 300; /* Light weight */
  font-style: italic; /* Light Italic */
  text-align: center; /* Horizontally centered */
  margin-top: 40px; /* 40px between each type box */
}

/* Orange media box */
.media-box {
  background-color: #E17918; /* Orange background color */
  border: 1px solid black; /* Black border */
  width: 100%; /* Take full width */
  height: auto; /* Auto height to maintain aspect ratio */
  margin-top: 40px; /* 40px between each type box */
}

/* Footer styling */
.footer {
  background-color: #E17918; /* Orange background color */
  border-top: 1px solid black; /* Black border */
  position: fixed; /* Fixed position */
  bottom: 0; /* Bottom of the viewport */
  width: 100%; /* Full width */
}

.footer-text {
  font-family: 'Alumni Sans', sans-serif;
  font-weight: 700; /* Black weight */
  text-align: center; /* Centered text */
}
