body {
  background-color: #D6D6D6; 
  font-family: 'IBM Plex Mono', monospace; 
  margin-bottom: 200px;  
}

.add-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: black;
}

.arrow-container {
  position: fixed;  
  top: 10px;
  right: 10px;
  z-index: 1000;
  margin-bottom: 10px;
}

#arrow-icon {
  transition: all 0.3s ease;
  box-shadow: none;
  outline: none;
  transform: rotate(180deg);
  z-index: 2;
}

#arrow-icon:hover {
  outline: none;
  transform: scale(1.2) rotate(180deg);;
}

.container {
  padding-left: 20px;
}

h1 {
  font-family: 'Alumni Sans', sans-serif; 
  text-align: left; 
  font-weight: 900; 
}

h2 {

  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500; /* Medium weight */
  text-align: left; 
  margin-top: 40px; /* 40px between each type box */
}


p {

  font-family: 'IBM Plex Mono', monospace;
  font-weight: 200; /* Light weight */
  font-style: italic; 
  text-align: left; 
  margin-top: 40px; 
}

.caption-text {
  font-size: 0.7rem; 
  font-style: italic; 
  text-align: left;
  margin-top: 4px; /* Adding some top margin for spacing */
  font-family: 'IBM Plex Mono', monospace; 
}

.footer {
 padding: 15px; 
 font-size: 4rem;  
 text-align: left;
 border-top: 2px solid black;
 background-color: #E17918;
 font-family: 'Alumni Sans', sans-serif; 
 font-weight: 900;
}

.collapsible {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E17918;
  border: 1px solid black;
  color: black;
  font-family: 'IBM Plex Mono', monospace;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .collapsible:hover {
  background-color: #D16807;
}

.expand-more-icon {
  font-size: 25px;
  line-height: normal;
  vertical-align: middle;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out, padding 0.2s ease, margin-left 0.2s ease;
  background-color: #f1f1f1;
  border: 0px solid black; /* Adding this line */
}

ul li {
  padding-bottom: 2em; /* Adds space below each list item */
}

.process-content {
    width: 337.5px; /* New width */
    height: 450px; /* New height */
    margin-left: 25vw; /* Aligns to the left like the description-content */
}

.process-image-carousel {
    position: relative;
    width: 337.5px;
    height: 450px;
}

.process-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 312.5px; /* Half of original width */
    height: 425px; /* Half of original height */
    border: 1px solid black;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.process-image.active {
    opacity: 1;
}

.media-box {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #E17918;
  border: 2px solid black;
  cursor: pointer;
  padding: 10px;
  border-radius: 12px;
  transition: all 0.3s ease;
  width: 350px;
  height: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Horizontal offset, vertical offset, blur radius, color */
  transition: box-shadow 0.3s ease;

}

.media-box img {
  object-fit: contain;
  object-position: center;
  max-width: 95%;
  max-height: 95%;
  border-radius: 8px;
}

.media-grid {
  padding-top: 3vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* Updated minmax to 350px to match media-box */
  gap: 16px;
  grid-auto-rows: minmax(350px, auto); /* Updated minmax to 350px to match media-box */
}

/* For desktop and larger tablets */
@media (min-width: 768px) {
  .media-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.overlay img {
  transform: scale(1.2);
  z-index: 1;
}


.media-modal {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999; 
  background: rgba(0,0,0,0.7);
}

.modal-content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 90vh;
  max-width: 90vw;
  margin: auto;
  background: transparent;
}

.media-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;  
  height: 100%; 
}

.media-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
  border-radius: 6px;
}

.media-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.aspect-ratio-16-9 {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 9/16 * 100% */
    overflow: hidden;
}

.aspect-ratio-16-9 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-container {
  position: relative;
  width: 100%;  /* Ensure it takes full width of parent */
  height: 75%; /* Ensure it takes full height of parent */
}

.video-container img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.video-flag {
  position: absolute;
  top: 10px;
  left: 0;
  background-color: orange;
  color: black;
  padding: 6px 10px;
  font-size: 14px;
  z-index: 1;
  transform: rotate(-45deg); 
  border: 1px solid black; 
  transform-origin: top left;
}

.close-btn {
  display: block;  /* Since <span> is inline by default, we change it to block */
  margin: 10px auto 0;  /* Top margin 10px, horizontally auto (centered), bottom 0 */
  font-size: 32px;
  cursor: pointer;
  color: orange;  
}

.hidden {
  display: none;
}

/* For mobile and smaller tablets */
@media only screen and (max-width: 767px) {
  .media-grid {
    grid-template-columns: 1fr;
  }
  .footer {
    height: 7vh;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}



