/* General styling */
body {
  background-color: #D6D6D6; /* Solid background color */
  font-family: 'IBM Plex Mono', monospace; /* Default text font */
  }

.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#arrow-icon {
  transition: all 0.3s ease;
  box-shadow: none;
  outline: none;
  transform: rotate(180deg);
  z-index: 2;
}

  #arrow-icon:hover {
    outline: none;
    transform: scale(1.2) rotate(180deg);;
  }


h1 {
  font-family: 'Alumni Sans', sans-serif; 
  text-align: center;  
}

h2 {
 
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500; /* Medium weight */
  text-align: left; 
  margin-top: 40px; /* 40px between each type box */
}


p {
 
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 200; /* Light weight */
  font-style: italic; 
  text-align: left; 
  margin-top: 40px; 
}


.media-box {
  background-color: #E17918; /* Orange background color */
  border: 1px solid black; /* Black border */
  width: 100%; /* Take full width */
  height: auto; /* Auto height to maintain aspect ratio */
  margin-top: 40px; /* 40px between each type box */
}

.footer {
     padding: 15px; 
     font-size: 4rem;  
     text-align: left;
     border-top: 2px solid black;
     background-color: #E17918;
     font-family: 'Alumni Sans', sans-serif; 
     font-weight: 900;
   }

